/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #414141;
    background-color: #EEEEEE;
    font-size: 18px;
    font-family: "Courier New", "Helvetica", "Arial", sans-serif;
}
h2 {
    font-size: 2.3em;
}
a {
    text-decoration: none;
}

/* Styles */
header {
    background: #333;
    color: #fff;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li {
    margin-left: 1rem;
}
nav a {
    color: #fff;
    text-decoration: none;
}
.logo {
    background: url("/static/logo.png") no-repeat center center;
    background-size: contain;
    width: 90%;
    height: 90%;
}

.intro-section {
    background: url('/static/intro.jpg') no-repeat center 25%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 75vh;
    width: 100%;
    padding: 20px;
    color: #FFFFFF;
}
.intro-content {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
}
.intro-content h1 {
    font-size: 3em;
    margin-bottom: 10px;
}
.intro-content p {
    font-size: 1.5em;
    margin-bottom: 20px;
}
.intro-button {
    background-color: rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.intro-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Layout */
.features, .about {
    padding: 4rem 2rem;
}
.feature {
    margin-bottom: 2rem;
}
.feature img {
    max-width: 70%;
    height: auto;
}
.feature h3 {
    font-size: 1.8em;
}

.team-member {
    margin-bottom: 1rem;
}
.team-member a {
    margin-right: 0.5rem;
}